table {
    width: 100%;
    border-collapse: separate;
    margin-top: 15px;
}

th {
    padding: 10px;
    text-align: center;
    background-color: #ddd;
    border-radius: 5px;
}

td {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

tr:hover {
    background-color: salmon;
}
